.background-tjs-position {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    margin-top: 5px;
}

.btn-tjs-position {
    position: absolute;
    right: 0;
    top: 52px;
}

#mapstore-tjs-extension {
    position: fixed;
    top: 52px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.joinData {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
