.background-millesime-position {
    top: 0px;
    left: 0;
    position: absolute;
    z-index: 5000;
    width: 300px!important;
    background-color: white;
    margin: 0!important;
}

.mapstore-side-preview {
    overflow: unset!important;
    width: 100px!important;
}

.dropdown-container {
    padding-left: 10px;
    padding-right: 10px;
}
